<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aumenta Docente</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex gap-2 mb-3"><a href="/" class="btn btn-info">Dashboard</a></div>
    <h2>Aumenta Docente</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label>NRE</label>
            <input type="text" name="nre" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Naran Docente</label>
            <input type="text" name="naran_docente" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Hela Fatin</label>
            <input type="text" name="hela_fatin" class="form-control">
        </div>
        <div class="mb-3">
            <label>Nu Telefone</label>
            <input type="text" name="nu_telefone" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Sexu</label>
            <select name="sexu" class="form-control" required>
                <option value="mane">Mane</option>
                <option value="feto">Feto</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Materia</label>
            <input type="text" name="materia" class="form-control">
        </div>
        <div class="mb-3">
            <label>Data Kontratu</label>
            <input type="date" name="data_kontratu" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'lista_docente' %}" class="btn btn-secondary">Fila</a>
        <a href="/" class="btn btn-info">Dashboard</a>
    </form>
</div>
</body>
</html>
