{% extends "base.html" %}
{% block title %}Lista Avaliasaun{% endblock %}
{% block content %}
<h1>Lista Avaliasaun</h1>
<a href="{% url 'add_avaliasaun' %}" class="btn btn-success mb-3">Aumenta Avaliasaun</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark"><tr><th>Estudante</th><th>Disciplina</th><th>Nota</th><th>Aksaun</th></tr></thead>
    <tbody>{% for x in avaliasauns %}<tr><td>{{ x.estudante.naran_estudante }}</td><td>{{ x.disciplina.naran_disciplina }}</td><td>{{ x.nota }}</td><td><a href="{% url 'edit_avaliasaun' x.id %}" class="btn btn-sm btn-warning">Edit</a><a href="{% url 'delete_avaliasaun' x.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza?')">Apaga</a></td></tr>{% endfor %}</tbody>
</table>
{% endblock %}
