{% extends "base.html" %}
{% block title %}Aumenta Estudante{% endblock %}
{% block content %}
<h2>Aumenta Estudante</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3"><label>NRE</label><input type="text" name="nre" class="form-control" required></div>
    <div class="mb-3"><label>Naran Estudante</label><input type="text" name="naran_estudante" class="form-control" required></div>
    <div class="mb-3"><label>Hela Fatin</label><input type="text" name="hela_fatin" class="form-control"></div>
    <div class="mb-3"><label>Nu Telefone</label><input type="text" name="nu_telefone" class="form-control" required></div>
    <div class="mb-3"><label>Sexu</label>
        <select name="sexu" class="form-control" required>
            <option value="mane">Mane</option>
            <option value="feto">Feto</option>
        </select>
    </div>
    <div class="mb-3"><label>Turma</label>
        <select name="turma" class="form-control">
            <option value="">-- La iha --</option>
            {% for t in turmas %}
            <option value="{{ t.id }}">{{ t.naran_turma }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'lista' %}" class="btn btn-secondary">Fila</a>
</form>
{% endblock %}
