{% extends "base.html" %}
{% block title %}Lista Estudante{% endblock %}
{% block content %}
<h1>Lista Estudante</h1>
<a href="{% url 'add' %}" class="btn btn-success mb-3">Aumenta Estudante</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>NRE</th>
            <th>Naran Estudante</th>
            <th>Hela Fatin</th>
            <th>Numéro Telefone</th>
            <th>Sexu</th>
            <th>Turma</th>
            <th>Aksaun</th>
        </tr>
    </thead>
    <tbody>
        {% for x in alunos %}
        <tr>
            <td>{{ x.nre }}</td>
            <td>{{ x.naran_estudante }}</td>
            <td>{{ x.hela_fatin }}</td>
            <td>{{ x.nu_telefone }}</td>
            <td>{{ x.sexu }}</td>
            <td>{{ x.turma.naran_turma|default:"-" }}</td>
            <td>
                <a href="{% url 'edit' x.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'delete' x.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza?')">Apaga</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
